  <div><% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %></div>
  
<div class="h-full w-full bg-lightprimary">


  


<%= render "header/loginheader"%>
 <%= render "devise/shared/error_messages", resource: resource %>
<div class="grid h-screen place-items-center">
<div class="bg-white px-8 pt-4 pb-8 mb-16 rounded-lg shadow-primary border-4 border-primary">
<h2 class="font-bold text-xl mb-4">Create account</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 

  <div class="field my-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"border-lightprimary border-2 focus:outline-none focus:ring-0 focus:border-lightprimary rounded-lg " %>
  </div>

  <div class="field my-2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" , class:"border-lightprimary border-2 focus:outline-none focus:ring-0 focus:border-lightprimary rounded-lg "  %>
  </div>

  <div class="field my-2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"border-lightprimary border-2 focus:outline-none focus:ring-0 focus:border-lightprimary rounded-lg "  %>
  </div>

  <div class="actions mt-4 mb-4 mr-4">
    <%= f.submit "Create account" , class:"bg-primary py-2  text-white rounded-lg hover:pointer hover:font-bold px-8"  %>
  </div>
<% end %>
<p class="text-sm ">Have an account?</p>
<%= render "devise/shared/links" %>
</div>
</div>
</div>